<!--Extend templates-->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}

<!--To display 'Bienvenido' and the 'original title' of base.html--> 
{% block title %} 
    {{super()}} 
    Bienvenido
{% endblock %}

<!--Estructuras de control de flask-->

{% block content %} 
    {% if user_ip %}
        <h1> Hello World, my friend. Your IP is {{user_ip}} </h1>
    {% else %}
        <h1> There is not an IP </h1>
        <a href="{{url_for('index') }}">Ir al inicio</a>
    {% endif %}

    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
        {% endfor %}
    </ul>
{% endblock %}